@{
    ViewData["Title"] = "Добро пожаловать в музей";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в сервис для инвентаризации музейных экспонатов</h1>
    <p class="lead">Чувашский государственный художественный музей.</p>
   
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Экспонаты</h5>
                    <p class="card-text">Список всех экспонатов.</p>
                    <a asp-controller="Exhibits" asp-action="Index" class="btn btn-primary">Экспонаты</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Выставки</h5>
                    <p class="card-text">Список всех выставок.</p>
                    <a asp-controller="Exhibitions" asp-action="Index" class="btn btn-primary">Категории</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Категории</h5>
                    <p class="card-text">Список всех категорий.</p>
                    <a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Категории</a>
                </div>
            </div>
        </div>
    </div>
</div>