@model fly.Models.Exhibit

@{
    ViewData["Title"] = "Редактирование экспоната";
}



<h1>Редактировать</h1>

<h4>Экспонат</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExhibitId" />
            <input type="hidden" name="CategoryId" value="@ViewBag.CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(ViewData["CategoryList"] as SelectList)"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageLocationId" class="control-label"></label>
                <select asp-for="StorageLocationId" class="form-control" asp-items="ViewBag.StorageLocationId"></select>
                <span asp-validation-for="StorageLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitName" class="control-label"></label>
                <input asp-for="ExhibitName" class="form-control" />
                <span asp-validation-for="ExhibitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitDescription" class="control-label"></label>
                <input asp-for="ExhibitDescription" class="form-control" />
                <span asp-validation-for="ExhibitDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Загрузить логотип</label>
                <input type="file" name="logoFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |
                <a asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
