@model fly.Models.StorageLocation
@{
    ViewData["Title"] = "Удалить";
}
<h1>Удалить место хранения</h1>
<h3>Вы уверены, что хотите удалить это место?</h3>
<div>
    <h4>@Model.Name</h4>
    <div>
        <strong>Описание:</strong> @Model.Description
    </div>
    <div>
        <strong>Адрес:</strong> @Model.Address
    </div>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="StorageLocationId" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>