@model fly.Models.StorageLocation
@{
    ViewData["Title"] = "Детали";
}
<h1>Детали места хранения</h1>
<div>
    <h4>@Model.Name</h4>
    <div>
        <strong>Описание:</strong> @Model.Description
    </div>
    <div>
        <strong>Адрес:</strong> @Model.Address
    </div>
</div>
<a asp-action="Edit" asp-route-id="@Model.StorageLocationId">Редактировать</a> |
<a asp-action="Index">Назад</a>