@model fly.Models.ExhibitInExhibition

@{
    ViewData["Title"] = "Добавить экспонат на выставку";
}

<h2>Добавить экспонат на выставку "@ViewData["ExhibitionName"]"</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ExhibitId" class="control-label">Экспонат</label>
        <select asp-for="ExhibitId" class="form-control" asp-items="ViewBag.ExhibitId"></select>
        <span asp-validation-for="ExhibitId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ExhibitionId" value="@ViewData["ExhibitionId"]" />
    <div class="form-group">
        <label asp-for="PlacementDate" class="control-label"></label>
        <input asp-for="PlacementDate" class="form-control" />
        <span asp-validation-for="PlacementDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a asp-controller="Exhibitions" asp-action="Details" asp-route-id="@ViewData["ExhibitionId"]" class="btn btn-secondary">Назад</a>
</form>