@model fly.Models.ExhibitInExhibition

@{
    ViewData["Title"] = "Удалить экспонат с выставки";
}

<h2>Удалить экспонат с выставки</h2>
<div>
    <h4>Экспонат: @Model.Exhibit?.ExhibitName</h4>
    <h5>Выставка: @Model.Exhibition?.ExhibitionName</h5>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExhibitInExhibitionId" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-controller="Exhibitions" asp-action="Details" asp-route-id="@Model.ExhibitionId" class="btn btn-secondary">Отмена</a>
    </form>
</div>