@model fly.Models.ExhibitInExhibition

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExhibitInExhibitionId" />
            <div class="form-group">
                <label asp-for="ExhibitId" class="control-label"></label>
                <select asp-for="ExhibitId" class="form-control" asp-items="ViewBag.ExhibitId"></select>
                <span asp-validation-for="ExhibitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionId" class="control-label"></label>
                <select asp-for="ExhibitionId" class="form-control" asp-items="ViewBag.ExhibitionId"></select>
                <span asp-validation-for="ExhibitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementDate" class="control-label"></label>
                <input asp-for="PlacementDate" class="form-control" />
                <span asp-validation-for="PlacementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.ExhibitId">Возврат к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
