<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Инвентаризация музейных экспонатов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fly.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f5f5dc; /* Светло-бежевый фон */
        }

        .navbar {
            background-color: #e8d8b0; /* Светло-бежевый цвет навигационной панели */
        }

        .footer {
            background-color: #e8d8b0; /* Светло-бежевый футер */
        }

        .navbar-brand, .nav-link {
            color: #3b2e1a !important; /* Темно-коричневый цвет текста для ссылок */
        }

        .btn-primary {
            background-color: #c2b280; /* Бежевый цвет кнопок */
            border-color: #c2b280;
        }

            .btn-primary:hover {
                background-color: #a89f6d; /* Более темный бежевый при наведении */
                border-color: #a89f6d;
            }

        .navbar-brand img {
            height: 40px; /* Устанавливаем высоту логотипа */
            width: auto; /* Автоматическая ширина для сохранения пропорций */
        }
    </style>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark"><strong>Инвентаризация музейных экспонатов</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домой</a>
                        </li>
                                                
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Museums" asp-action="Index">Музеи</a>
                        </li>
                                             
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Exhibitions" asp-action="Index">Выставки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Visitors" asp-action="Index">Посетители</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inventories" asp-action="Index">История движения запчастей</a>
                        </li>
                        @if (User.IsInRole("IT"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CustomUser" asp-action="Index">Пользователи</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ЗКТ-44-22 Васильев Михаил Андреевич
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
